<div class="container-fluid">
    <h1 class="center">{{title}}</h1>
    <div class="row">
        <div class="columna">
            colunm1
        </div>
      
        <div class="columna verticalLine">
            <div class="row">
                <app-form-tweet>
                </app-form-tweet>
            </div>
            <div class="row mt-4" style="overflow-y: scroll; height:600px;">
                <app-post-list (submit)="submitFormTweet($event)">
                </app-post-list>
            </div>
        </div>
       
        <div class="columna">
            colunm3
        </div>
        
    </div>
</div>
