
.post .user {
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(38, 58, 71);
  padding-bottom: 0.5em;
}

.post .content {
  display: block;
  padding-bottom: 0.5em;
}

.post .time-stamp {
  font-size: small;
  color: rgb(92, 92, 92);
}
//@at-root

.colorGray {
    background-color: #8ea4bb !important;
    border-radius: 10px;
}

.width {
    width: 80% !important;
}

.user {
    padding-left: 3%!important;
}

.content {
    padding-left: 3%!important;
}

.buttons {
  text-align: right!important;
  padding-right: 3%!important;
}

.icon-heading {
  position: relative !important;
  text-align: left !important;
  display: inline-block !important;
  padding-left: 3% !important;
}



// .time-stamp {
//   padding-right: 3%!important;
// }

// .time-stamp-right {
//   text-align: right !important;
// }

.width2 {
  width: 80% !important;
}

.colorGray2 {
  background-color: #b8b8b8 !important;
  border-radius: 10px;
}

.div-left {
  text-align: left;
}